body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffff;
}

.visually-hidden {
    overflow: hidden;
}

a { 
    text-decoration: none;}

ul { 
    list-style: none;}

.header-logo {
color:  #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
}

.span {
color: #2e2f42;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-menu-link {
    color:   #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active 
{
  color: #404BBF;
}

.header-adress
{
    font-style: normal
}

.header-adress-link {
font-style: normal ;
color:#434455;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
}

.header-adress-link:hover,
.header-adress-link:focus
{
    color:  #404BBF;
}

.hero{
    background-color:  #2E2F42;
}

.hero-title{
    text-align: center;
    color:  #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn:hover,
.hero-btn:focus
{
    background-color: #404BBF;
    color: #ffffff;
  }

.hero-btn {
color: #FFF;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.hero-btn{
background-color: #4D5AE5;
}

.team{
    background-color: #F4F4FD;
}

.team-item
{
    background-color: #FFFFFF;
}

.features-list-title {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.features-list-text{
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.team-title{
    text-align: center;
    color:  #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-title-item{
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-title-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-title{
text-align: center;
color:  #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;

}

.portfolio-list-title{
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;

}

.portfolio-list-text{
color: #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;

}

.footer{
    background: #2E2F42;
}

.footer-link
{
color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-span
{
    color: #f4f4fd;
}

.footer-text{
color:#F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
