body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: rgb(255, 255, 255);
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      } 

.header{
    background: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container{
width: 100%;
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}


 h1,h2,h3,h4,h5,h6{
margin-top: 0;
margin-bottom: 0;
 }

 img{
    display: block;
 }

 ul,p{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
 }

a { 
    text-decoration: none;}

ul { 
    list-style: none;}

.header-logo {
color:  #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}

.span {
color: #2e2f42;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-navigation{
    align-items: center;
    display:flex;
    flex-grow: 1;
}

.header-conteiner{
    display:flex;
    align-items: center;
}

.header-link .wrap-line{
    color: #404bbf; 
}

.header-menu-item .wrap-line{
    color: #404bbf; 
}


.header-link{
    position: relative; 
    color: #404bbf; 
}

.header-list{
display:flex;
gap: 40px;
align-items: center;
}

.wrap-line{
    color: #404bbf;
}


.wrap-line::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: #404bbf;
  }

.header-link {
    display: block;
    color:   #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-link:hover,
.header-link:focus,
.header-link:active 
{
  color: #404BBF;
}

.header-adress{
    font-style: normal
}

.header-adress-list{
    display:flex;
    margin-left: auto;
    gap: 40px;
}

.header-adress-item{
    padding-top: 24px;
    padding-bottom: 24px;
}


.header-adress-link {
font-style: normal ;
color:#434455;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:focus
{
    color:  #404BBF;
}

.hero{
    max-width: 1440px;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color:  #2E2F42;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), 
     url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-conteiner{
     margin: 0 auto;
    padding-left: 316px;
    padding-right: 316px;
}

.hero-title{
    color:  #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn:hover,
.hero-btn:focus
{
    background-color: #404BBF;
    color: #ffffff;
  }

.hero-btn {
min-width: 169px;
color: #FFF;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
display: block;
margin: 0 auto;
padding: 16px 32px;
border-radius: 4px;
background-color:  #4D5AE5;
border: none;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn{
background-color: #4D5AE5;
}

.features{
   padding-top: 120px;
   padding-bottom: 120px;
}

.icon-features{
        width: 264px;
        height: 112px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        background: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
}

.features-list{
display: flex;
gap: 24px;
}

.features-list-item{
width: calc((100%-24px*3)/4) ;
}

.features-list-title {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.features-list-text{
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list{
    display: flex;
    gap: 24px;
}

.team-icon-case{
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.team-item{
    border-radius: 0px 0px 4px 4px;
    background:  #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    text-align: center;
}

.team-title{
    text-align: center;
    color:  #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.team-social-icon-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}



.social-icon-item{
    width: 40px;
    height: 40px;
}

.team-social-icon-link{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.team-social-icon-link:hover{
    background-color: #404bbf; }

.team-social-icon-link:focus{
    background-color:#404bbf;}



.team-icon-svg {
fill: #f4f4fd;
}
  
.conteiner-team-item{
    padding-top: 32px; 
    padding-bottom: 32px;
}

.team-title-item{
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-title-text{
    text-align: center;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio{
padding-top: 120px;
padding-bottom: 120px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px ;
}

.portfolio-list-item{
    background: #FFF;
    max-width: 360px;
    width: calc((100%-24px*2)/3);
    border: 1px solid  #E7E9FC;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus,
.portfolio-list-item:active {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title{
text-align: center;
color:  #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}


.portfolio-img-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover .sellers-cover-text {
    transform: translateY(0);
  }

.sellers-cover-text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-title{
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.portfolio-list-text{
color: #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}

.footer{
    background: #2E2F42;
    padding-top: 100px; 
    padding-bottom: 100px;
    display: flex;
    align-items: baseline;
}

.social-cocer{
    display: flex;
  align-items: baseline;
}

.footer-logo{
    margin-right: 120px;
}

.footer-link{
display: inline-block;
color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 16px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-span
{
    color: #f4f4fd;
}


.social-icon-list{
    display: flex;
    gap: 16px;
}

.footer-social-icon-link{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

.footer-text{
color:#F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}

.footer-text-social{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus,
.footer-social-icon-link:active {
  background-color: #31d0aa;
}


.footer-icon-svg{
    fill: #f4f4fd;
  }


.footer-form-subscribe{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;}

.footer-form-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    padding-left: 18px;
    color:#ffffff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.5;
    margin-right: 24px;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15))
}

.subscribe-email::placeholder {
    color: #ffffff;
    font-size: inherit;
}

.footer-form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #4D5AE5;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    cursor: pointer;
    padding: 8px 24px;
}

.footer-form-ico-svg {
    margin-left: 16px;   
}
  /*=====backdrop=====*/

 .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

 .modal{
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }
  

 .modal-close-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }
 

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
} 

.modal-close-btn:focus,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
} 

.close-ico-svg{
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover > .close-ico-svg,
.modal-close-btn:focus > .close-ico-svg{
    fill: #FFFFFF;
}


.rewiev-form-description{
color: #2E2F42;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.rewiev-form-field-label{
display: block;
color:  #8E8F99;
font-size: 12px;
font-weight: 400;
line-height: 1.17;  
letter-spacing: 0.04em;
margin-bottom: 4px;
}

.rewiev-form-field{
background-color: transparent; 
width: 100%;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
padding-left: 38px;
border: 1px solid rgba(46, 47, 66, 0.4);
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiev-form-wrap{
    margin-bottom: 8px;
}

.rewiev-form-imput-wrapper{
position: relative;
}

.rewiev-form-field:focus{
border-color: #4D5AE5;
outline-color: transparent;
outline-offset: 6px;
}

.rewiev-form-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%); 
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.rewiev-form-field:focus+.rewiev-form-icon{
    fill: #4D5AE5;
    transition: fill 250ms linear;
}

.rewiev-form-comment-wrap
{
    margin-bottom: 16px
}
.rewiev-text-message{
width: 100%;
height: 120px;
border-radius: 4px;
border: 1px solid  rgba(46, 47, 66, 0.40);
resize: none;
padding: 8px 16px;
color: rgba(46, 47, 66, 0.40);
font-size: 12px;
font-size: normal;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
background-color: transparent;
outline: transparent; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiev-text-message::placeholder{
    color: rgba(46, 47, 66, 0.40);
}

.rewiev-text-message:focus{
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 6px;
}

.rewiev-form-own-chekbox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.rewiev-form-checkbox-label{
color:  #8E8F99;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.04em;
line-height: 1.17; 
}

.privacy-policy-link{
color:#4D5AE5;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.33;
letter-spacing: 0.04em;
text-decoration-line: underline;
}

.rewiev-form-checkbox-wrapper{
    margin-bottom: 24px;
}

.rewiev-form-btn{
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiev-form-checkbox:checked + .rewiev-form-checkbox-label .rewiev-form-own-chekbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
